<form method="post" action="/Home/CreateDoc">
    <label for="title">Título:</label><br>
    <input type="text" id="title" name="title"><br>
    <label for="subtitle">Subtítulo:</label><br>
    <input type="text" id="subtitle" name="subtitle"><br>
    <label for="paragraph">Párrafo:</label><br>
    <textarea id="paragraph" name="paragraph"></textarea><br>
    <label for="footer">Pie de página:</label><br>
    <input type="text" id="footer" name="footer"><br>
    <input type="submit" value="Crear documento">
</form>

