<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<script>
    function resetForm() {
        setTimeout(function() {
            document.getElementById('myForm').reset();
        }, 1000); 
    }
</script>

<body>

    <form id="myForm" method="post" action="/Home/CreateDoc" class="p-3" onsubmit="resetForm()">
        <div class="mb-3">
            <label for="title" class="form-label">Título:</label>
            <input type="text" id="title" name="title" class="form-control">
        </div>
        <div class="mb-3">
            <label for="subtitle" class="form-label">Subtítulo:</label>
            <input type="text" id="subtitle" name="subtitle" class="form-control">
        </div>
        <div class="mb-3">
            <label for="paragraph" class="form-label">Párrafo:</label>
            <textarea id="paragraph" name="paragraph" class="form-control"></textarea>
        </div>
        <div class="mb-3">
            <label for="footer" class="form-label">Pie de página:</label>
            <input type="text" id="footer" name="footer" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Crear documento</button>
    </form>
</body>